/* styles.css */

/* Define a professional font */
body {
    font-family: 'Times New Roman', sans-serif;
}

/* Style the header and navigation */
header {
    background-color: #f5f5f5; /* Light gray */
    color: #333; /* Dark gray */
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #333; /* Dark gray */
    text-decoration: none;
    font-weight: bold; /* Make the font bold */
}

/* Style the sections */
section {
    padding: 40px;
    text-align: center;
    transition: background-color 0.5s ease; /* Add a smooth transition effect */
}

#about-me {
    background-color: #fff1d0; /* Initial bone color */
}

#my-resume {
    background-color: #f5f5f5; /* Light gray */
}

#portfolio {
    background-color: #e0e0e0; /* Slightly darker gray */
}

aside{
    padding-block-start: 50px;
}